body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
table{
    border: 2px solid black;
    border-spacing: 4px;
    border-collapse: separate;
    background-color: yellow;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 300px;
    border-spacing: 4px;
}
th{
    border: 2px solid black;    
    text-align: center;
    border-collapse: separate;
    background-color: yellow;
}
td{
    border: 2px solid black;
    text-align: center;
    border-collapse: separate;
    background-color: yellow;
}
.blue{
    outline: 4px solid #4f8ee5;
}
.yellow{
    outline: 4px solid yellow;
    z-index: 2;
}
